.detail {
	width: 740px;
	height: 370px;
	padding: 30px;
	color: #1f2022;
	background: #fff;

	.detail-nav {
		font-size: 0;
		line-height: 0;
		margin-bottom: 30px;

		li {
			margin-right: 22px;
			display: inline-block;

			a {
				margin:0;
				color: #1f2022;
				outline: none;
				cursor: pointer;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				position: relative;
				padding: 10px 18px;
				background: transparent;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				touch-action: manipulation;
				border: 2px solid #c4b005;
				@include border-radius(4px);
				@include transition(.3s);

				&:hover {
					color: #fff;
					background: #c4b005;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: #fff;
					background: #c4b005;
				}
			}
		}
	}

	.detail-content {
		overflow: hidden;
		display: none;
		position: relative;

		&.active {
			display: block;
		}

		.detail-image {
			float: left;
			width: 140px;
		}

		.detail-text {
			width: 520px;
			float: right;
			font-size: 15px;
			line-height: 21px;
		}
	}
}