
$body-bg                :   #fff !default;
$text-color             :   #161616 !default;
$link-color             :   #161616 !default;
$link-hover-decoration  :   underline;
$color-yellow           :   #c4b005;


$font-size-base         :   14px !default;
$line-height-base       :   normal !default;
$font-base              :   "CenturyGothic", Arial, sans-serif !default;


