.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 15px 10px;
	background: #c3af05;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	border-bottom: 2px solid #9c8629;
	@include border-radius(4px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #d5c115;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-sm {
	color: #c4b005;
	font-size: 13px;
	font-weight: 400;
	padding: 7px 10px;
	background: transparent;
	border: 2px solid #c4b005;
	text-transform: capitalize;

	&:hover {
		color: #fff;
		background: #c4b005;
		border-color: #c4b005;
	}
}

.btn-md {
	color: #fff;
	font-size: 15px;
	padding: 10px 5px;
	background: #9c8629;
	border: 2px solid #9c8629;
	text-transform: none;

	&:hover {
		background: #d5c115;
		border-color: #d5c115;
	}
}

.btn-xs {
	font-size: 15px;
	padding: 10px 10px;
	text-transform: none;
}

.btn-vk {
	font-size: 15px;
	font-weight: 400;
	border: none;
	position: relative;
	background: #393e6a;
	padding: 10px 50px 10px 12px;

	&:before {
		top: 10px;
		right: 8px;
		width: 31px;
		height: 21px;
		content: ' ';
		position: absolute;
		background: url("../img/icon-vk.png") 0 0 no-repeat;
	}
}

.btn-form {
	width: 100%;
	font-size: 13px;
	text-transform: none;
}